<% content_for :title do %>Smashing-Chartjs examples<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Line Chart</p>
      <div
        data-id="line-chart"
        data-view="Chartjs"
        data-type="line"
        data-header="Motivation Level"
        data-labels="Week 1,Week 2,Week 3,Week 4,Week 5"
        data-colornames="blue,blue,blue,blue,blue"
        data-datasets="10,39,20,49,87"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Scatter Chart</p>
      <div
        data-id="scatter-chart"
        data-view="Chartjs"
        data-type="scatter"
        data-header="Random points"
        data-colornames="blue,blue,blue,blue,blue"
        data-datasets='[{"x": -10, "y": 0}, {"x": 0, "y": 10}, {"x": 10, "y": 5}, {"x": -4, "y": 8}, {"x": 1, "y": -2}, {"x": -1, "y": 3}]'
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Bar Chart</p>
      <div
        data-id="bar-chart"
        data-view="Chartjs"
        data-type="bar"
        data-header="Calories Burned"
        data-labels="Day 1,Day 2,Day 3,Day 4,Day 5"
        data-colornames="yellow,yellow,yellow,yellow,yellow"
        data-datasets="210,339,220,494,109"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Horizontal Bar Chart</p>
      <div
        data-id="horizontal-bar-chart"
        data-view="Chartjs"
        data-type="horizontalBar"
        data-header="Calories Burned"
        data-labels="Day 1,Day 2,Day 3,Day 4,Day 5"
        data-colornames="lightgray,lightgray,lightgray,lightgray,lightgray"
        data-datasets="210,339,220,494,109"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Radar Chart</p>
      <div
        data-id="radar-chart"
        data-view="Chartjs"
        data-type="radar"
        data-header="Activities After Work"
        data-labels="Crossfit,Yoga,Weight Lifting,Running,Swimming,Watching TV"
        data-colornames="yellow,yellow,yellow,yellow,yellow,yellow"
        data-datasets="210,339,220,234,311,494"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Polar Area Chart</p>
      <div
        data-id="chart-polarArea"
        data-view="Chartjs"
        data-type="polarArea"
        data-labels="Week 1,Week 2,Week 3,Week 4,Week 5"
        data-colornames="blue,yellow,green,cyan,gray"
        data-datasets="10,39,20,49,87"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Pie Chart</p>
      <div
        data-id="chart-pie"
        data-view="Chartjs"
        data-type="pie"
        data-labels="Pumpkin,Apple,Pizza,Rhubarb"
        data-colornames="red,green,yellow,gray"
        data-datasets="13,32,40,20"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Doughnut Chart</p>
      <div
        data-id="doughnut-pie"
        data-view="Chartjs"
        data-type="doughnut"
        data-labels="Apple Fritter,Chocolate,Maple"
        data-colornames="green,blue,darkgray"
        data-datasets="20,13,12"
        data-height="400"
        data-width="400"
      ></div>
    </li>
  </ul>
</div>

<style type="text/css">
  p {
    text-align: center;
  }
</style>